body
{
        *background: url(https://gitlab.com/hellodk/flask_app/raw/cd1eab4a122ad842288b62e0de17a0cf6bf172b9/assets/chilli.jpg) no-repeat center center fixed; /* For IE 6 and 7 */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
